//Start Variables
$mainColor:rgb(20, 183, 150) ;
$sectionBg:rgba(34, 160, 250, 0.3);
$mainTransition:.4s;
//End Variables
//Start Global Rules
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container{
  padding: 0 15px;
  margin: 0 auto;
}
@mixin BR ($r){
  -webkit-border-radius: ($r);
  -moz-border-radius: ($r);
  border-radius: ($r);
}@mixin B-Sizing ($r){
  -webkit-box-sizing: ($r);
  -moz-box-sizing:($r);
  box-sizing: ($r);
}
::-webkit-scrollbar-thumb{background-color: $mainColor; @include BR(5px)}
::-webkit-scrollbar{width: 10px;background-color: rgb(238, 238, 238);}
body{
  @include B-Sizing(border-box)
}
.container{.heading{
  font-size: 20px;
  padding: 60px 0;
  display: flex;
  h1{margin:0 auto}
}}
//separator
.spikes {
  position: relative;
  background: rgba(100, 180, 250, 0.15);
  height: 20vh;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 70px;
  background-size: 70px 100%;
  background-image: linear-gradient(135deg, rgba(100, 180, 250, 0.15) 25%, transparent 25%), linear-gradient(225deg, rgba(100, 180, 250, 0.15), transparent 25%);
  background-position: 0 0;
}
//End Global Rules
//Start Responsive
/* Mobile Screen */
@media (max-width:767px)
{
  .container{
}}
/*small screens*/
@media (min-width:768px)
{
  .container
  {
    width:750px
  }
}
/*medium screens*/
@media (min-width:992px)
{
  .container
  {
    width:970px
  }
}
/*large screens*/
@media (min-width:1200px)
{
  .container
  {
    width:1170px
  }
}
//End Responsive

//Start Header
header{
  background-color: $sectionBg;
  position: relative;
.container{
    box-shadow: rgba(34, 160, 195, 0.15) 0 0 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  @media (max-width: 766px){justify-content: space-around}
.logo{flex-basis: 120px;img{max-width: 100%}}
nav{
  display: flex;
  align-items: center;
  .i{
    transition-duration: $mainTransition;
    span{
    display: none;
    font-size: 24px;
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 2px;
    transition-duration: $mainTransition;
    &:nth-of-type(2){width: 50%}
    @media (max-width: 766px){display: flex;}
    }
    overflow: hidden;
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 18px;
    &:hover span:nth-of-type(2){width: 100%}
    &:hover {outline: 1px solid #000; background-color: $mainColor;}
    &:hover span {background-color: #FFF;}
  }
  ul{
    @media (max-width:766px){display: none}
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;padding: 10px;
    li{
      padding: 5px;
      a{text-transform: capitalize;text-align: center;font-size: 18px;color: #000;
        transition-duration: $mainTransition;text-decoration: none;padding: 8px 15px}
      &:hover a{
        background-color: $mainColor;color: #FFF;@include BR(10px);
      }
    }
    li.active a{
      background-color: $mainColor;
      color: #FFF;@include BR(10px);
    }
    }
  .i{
    &:hover + ul{display: flex;
      position:absolute;
      width:100%;
      top:100%;left:0;
      //text-align:center;
      justify-content:center;
      flex-wrap: wrap;
      margin: 0;
      background-color: rgba(50, 150, 210, 0.7);
      padding: 30px 0;
      z-index: 10;
      li{padding: 10px;width: 80%;margin: 10px;a{padding: 8px 44%} }
      &:before{
      content: '';
      position: absolute;
      top:-6%;
      right: 26%;
      border: 10px solid transparent;
      background-color: transparent;
      border-bottom: 10px solid rgba(50, 150, 210, 0.7);
      }}
    }
  }
}
}

//End Header
//Start Landing
.landing{
  background-image: url("../Photos/workhard.jpg");
  background-size: cover;
  min-height: calc(100vh - 82px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 766px){min-height: calc(100vh - 53.79px);}
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(315deg, rgba(99, 164, 255, 0.8) 0%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(131, 234, 241, 0.5) 74%);}
  .parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    padding: 0 30px;
    @media (max-width: 766px){justify-items: center;
      display: grid;
      grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
    }
    .photo{
      width: 250px;
      height: 250px;
      @include BR(50%);
      display: flex;
      align-items: center;
      border: 5px solid #FFF;
      transition-duration: $mainTransition;
      background-image: url("../Photos/Me Bd8.jpg");
      background-size: cover;
      &:hover{border-color: $mainColor}
    }
    .text{
    @media (max-width: 766px){text-align: center ; grid-column: auto}
      color:#FFF;
      h1{text-shadow: 2px -2px 4px $mainColor;font-size:50px;
        transition-duration: $mainTransition;
      &:hover{text-shadow: 2px -2px 4px #FFF; Color: $mainColor} }
      p{
        line-height: 1.7;
        font-weight: bold;
        font-size: 20px;
        span{color: #00dfb2}
      }
    }
  }
}
//End Landing
//Start Projects
.projects{
  background-color: rgba(100, 180, 250, 0.15);
  .container{
    .grid-holder{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20px;
    .box{
      box-shadow: rgba(0, 0, 0, 0.3) 0 6px 7px -4px;
      display: flex;
      overflow: hidden;
      justify-content: center;
      position: relative;
      border-bottom:6px solid #FFF ;
        img{
          max-width: 100%;
          max-height: 100%;
          transition: .5s ease-in-out;
        }
        .title{
          min-width: 100%;
          height:40%;
          position:absolute;
          bottom:-100%;
          left: 0;
          background-color: rgba(34,160,195,80%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          h3{
            color:#FFF;
            margin:0;
            font-size: 24px;
          }
          .icons{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a {
              color: #FFF;
              font-size: 25px;
              position: relative;
              transition: $mainTransition;
              &:first-child:before{
                content: 'Source code';
                text-decoration: none;
                font-size: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 60px;
              }
              &:nth-child(2):before{
                content: 'Visit website';
                text-decoration: none;
                font-size: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 60px;
              }
              &:hover {
                color: $mainColor
              }
            }
          }
        }
        &:hover img{transform:scale(1.1) rotate(2deg);}
        &:hover .title{bottom: 0; transition-duration: .6s}
      }
    }
  }
}
// img width 1899px
// img height 900p
//End Projects