//Start Variables
$mainColor:rgb(20, 183, 150) ;
$sectionBg:rgba(34, 160, 250, 0.3);
$mainTransition:.4s;
$sectionSeparatorBackGround1:rgba(100, 180, 250, 0.4);
$sectionSeparatorBackGround2:rgba(100, 180, 250, 0.1);
$progressColor:#EEE;
//End Variables
//Start Global Rules
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container{
  padding: 0 15px;
  margin: 0 auto;
}
@mixin BR ($r){
  -webkit-border-radius: ($r);
  -moz-border-radius: ($r);
  border-radius: ($r);
}@mixin B-Sizing ($r){
  -webkit-box-sizing: ($r);
  -moz-box-sizing:($r);
  box-sizing: ($r);
}
::-webkit-scrollbar-thumb{background-color: $mainColor; @include BR(5px)}
::-webkit-scrollbar{width: 10px;background-color: rgb(238, 238, 238);}
body{
  @include B-Sizing(border-box)
}
.container{
  .heading{
  font-size: 22px;
  padding: 80px 0;
  display: flex;
  h1{margin:0 auto}
  }
}
//separator
//.spikes {
//  position: relative;
//  background: rgba(100, 180, 250, 0.15);
//  height: 20vh;
//  &::after {
//  content: '';
//  position: absolute;
//  right: 0;
//  left: -0%;
//  top: 100%;
//  z-index: 10;
//  display: block;
//  height: 70px;
//  background-size: 70px 100%;
//  background-image: linear-gradient(135deg, rgba(100, 180, 250, 0.25) 25%, transparent 25%), linear-gradient(225deg, rgba(100, 180, 250, 0.25), transparent 25%);
//  background-position: 0 0;
//  }
//}
body {
  .spikes {
    position: relative;
    background: #d8ecfe;
    height: 20vh;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: -0%;
      top: 100%;
      z-index: 10;
      display: block;
      height: 50px;
      background-size: 50px 100%;
      background-image: linear-gradient(135deg, #d8ecfe 25%, transparent 25%), linear-gradient(225deg, #d8ecfe 25%, transparent 25%);
      background-position: 0 0;
    }
  }
  section.spikes:nth-of-type(2){
    background: $sectionSeparatorBackGround1;
    &::after {
      background-image: linear-gradient(135deg, $sectionSeparatorBackGround1 25%, transparent 25%), linear-gradient(225deg, $sectionSeparatorBackGround1 25%, transparent 25%);
    }
  }
}
//End Global Rules
//Start Responsive
/* Mobile Screen */
@media (max-width:767px)
{
  .container{
}}
/*small screens*/
@media (min-width:768px)
{
  .container
  {
    width:750px
  }
}
/*medium screens*/
@media (min-width:992px)
{
  .container
  {
    width:970px
  }
}
/*large screens*/
@media (min-width:1200px)
{
  .container
  {
    width:1170px
  }
}
//End Responsive

//Start Header

header{
  background-color: $sectionBg;
  position: relative;
.container{
    box-shadow: rgba(34, 160, 195, 0.15) 0 0 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
.logo{flex-basis: 120px;img{max-width: 100%}}
nav{
  display: flex;
  align-items: center;
  .holder{
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    @media (max-width: 766px){display: flex;}
    .c{
    position: absolute;
    opacity: 0;
    font-size: 26px;
    transition-duration: $mainTransition;transition-timing-function: ease-in-out;
      transition-delay: .1s;
  }
  .i{
    transition-duration: $mainTransition;
    opacity: 1;
    font-size: 24px;
    }
    &:hover > .i{opacity: 0;}
    &:hover > .c{opacity: 1}
    &:hover{
      &:before{
        content: '';
        position: absolute;
        top:20px;
        border: 10px solid transparent;
        background-color: transparent;
        border-bottom: 10px solid rgba(50, 150, 210, 0.7);
      }
    }
  }
  ul{
    @media (max-width:766px){display: none ;opacity: 0}
    @media (min-width:767px){display: flex}
    list-style: none;
    flex-direction: row;
    justify-content: space-between;padding: 10px;
    transition: $mainTransition linear;
    li{
      padding: 5px;
      a{text-transform: capitalize;text-align: center;font-size: 18px;color: #000;
        transition-duration: $mainTransition;text-decoration: none;padding: 8px 15px}
      &:hover a{
        background-color: $mainColor;color: #FFF;@include BR(10px);
      }
    }
    li.active a{
      background-color: $mainColor;
      color: #FFF;@include BR(10px);
    }
    }
  .holder{
    &:hover + .uList{
      display: flex;
      opacity: 1;
      position:absolute;
      width:100%;
      top:100%;
      left:0;
      justify-content:center;
      flex-wrap: wrap;
      margin: 0;
      background-color: rgba(50, 150, 210, 0.7);
      padding: 30px 0;
      z-index: 10;
      li{padding: 10px;width: 80%;margin: 10px;
        a{padding: 8px 44%} }
         }
    }
  }
}
}

//End Header

//Start Landing

.landing{
  background-image: url("../Photos/workhard.jpg");
  background-size: cover;
  min-height: calc(100vh - 82px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 766px){min-height: calc(100vh - 53.79px);}
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(315deg, rgba(99, 164, 255, 0.8) 0%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(131, 234, 241, 0.5) 74%);}
  .parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    padding: 0 30px;
    @media (max-width: 991px){
      justify-items: center;
      display: grid;
      grid-template-columns: repeat(auto-fill ,minmax(450px , 1fr));
    }
    .photo{
      width: 250px;
      height: 250px;
      @include BR(50%);
      display: flex;
      align-items: center;
      border: 5px solid #FFF;
      transition-duration: $mainTransition;
      background-image: url("../Photos/Me Bd8.jpg");
      background-size: cover;
      &:hover{border-color: $mainColor}
      @media (max-width:766px){width: 200px;height: 200px}
    }
    .text{
    @media (max-width: 991px){font-size: smaller ;text-align: center ; grid-column: auto}
      color:#FFF;
      h1{text-shadow: 2px -2px 4px $mainColor;font-size:50px;
        transition-duration: $mainTransition;
      &:hover{text-shadow: 2px -2px 4px #FFF; Color: $mainColor} }
      p{
        line-height: 1.7;
        font-weight: bold;
        font-size: 20px;
        span{color: #00dfb2}
      }
    }
  }
}

//End Landing

//Start Projects

.projects{
  background-color: rgba(100, 180, 250, 0.25);
  .container{
    .grid-holder{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20px;
    .box{
      box-shadow: rgba(0, 0, 0, 0.3) 0 6px 7px -4px;
      display: flex;
      overflow: hidden;
      justify-content: center;
      position: relative;
      border-bottom:6px solid #FFF ;
        img{
          max-width: 100%;
          max-height: 100%;
          transition: .5s ease-in-out;
        }
        .title{
          min-width: 100%;
          height:40%;
          position:absolute;
          bottom:-100%;
          left: 0;
          background-color: rgba(34,160,195,80%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          h3{
            color:#FFF;
            margin:0;
            font-size: 24px;
          }
          .icons{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a {
              color: #FFF;
              font-size: 25px;
              position: relative;
              transition: $mainTransition;
              &:first-child:before{
                content: 'Source code';
                text-decoration: none;
                font-size: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 60px;
              }
              &:nth-child(2):before{
                content: 'Visit website';
                text-decoration: none;
                font-size: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 60px;
              }
              &:hover {
                color: $mainColor
              }
            }
          }
        }
        &:hover img{transform:scale(1.1) rotate(2deg);}
        &:hover .title{bottom: 0; transition-duration: .6s}
      }
    }
  }
}

// img width 1899px
// img height 900p

//End Projects

//Skills

.skills{
  background-color: $sectionSeparatorBackGround1;
  .container{
    .skillsHolder{
      padding: 0 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .skill{
        margin:30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Pushster', cursive;
        @media (max-width: 991px){flex-direction: column}
        i{
          font-size: 80px;
          position: relative;
          &:after{font-family: 'Pushster', cursive;}
        }
        &:nth-child(1) > i{
          color: orangered;
          &:after{
            content: 'HTML';
            position: absolute;
            font-size: 12px;
            color: #000;
            top: 100%;
            left: 50%;
            transform: translatex(-50%);
          }
        }
        &:nth-child(2) > i{
          color: #00F;
          &:after{
            content: 'CSS';
            position: absolute;
            font-size: 12px;
            color: #000;
            top: 100%;
            left: 50%;
            transform: translatex(-50%);
          }
        }
        &:nth-child(3) > i{
          color: hotpink;
          &:after{
            content: 'Sass';
            position: absolute;
            font-size: 12px;
            color: #000;
            top: 100%;
            left: 50%;
            transform: translatex(-50%);
          }
        }
          > .img{
          width: 80px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
            position: relative;
            &:after{
              content: 'Java Script';
              position: absolute;
              font-size: 12px;
              color: #000;
              top: 100%;
              left: 50%;
              transform: translatex(-50%);
            }
          img{
            max-width: 100%;
          }
        }
        .progress{
          background:$progressColor;
          height: 25px;
          width: 500px;
          @include BR(5px);
           span{
            background-color: $mainColor;
             display: block;
            position: relative;
             height: 100%;
             @include BR(5px);
            &:after{
              content: attr(data-progress);
              position: absolute;
              background-color: #000;
              width: 40px;
              text-align: center;
              color: #FFF;
              top: -25px;
              left: 95%;
              //@media (max-width: 766px) {left: 78%;}
              @include BR(4px);
            }
             &:before{
               content: '';
               position: absolute;
               right: -7px;
               top: -8px;
               border: 7px solid transparent;
               border-top-color:#000 ;
             }
          }
          @media (max-width: 991px){margin-top: 40px;width: 100%}
        }
        &:nth-child(4){
          .img{
            &:after{
              width: 65px;
            }
          }
          .progress{
            span{
              &:after{
                left: -13px;
              }
            }
          }
        }
        &:last-child{
          .img{
            &:after{
              content: 'Python';
              position: absolute;
              font-size: 12px;
              color: #000;
              top: 100%;
              left: 50%;
              transform: translatex(-50%);
            }
          }
        }
      }
    }
  }
}

//End Skills

//Contact

.contact{
  background-color:$sectionSeparatorBackGround2 ;
  .container{
    form{
      display: flex;
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      input:not([type='submit']) , textarea{
        margin-bottom: 10px;
        padding: 0 20px;
        border:1px solid #CCC;
        color: #000;
        @include BR(7px);
        &:focus{
          outline: none;
          border: 2px solid $mainColor;
        }
        &::placeholder{
          color:#CCC;
        }
      }
      input{
        height: 40px;
      }
      textarea{
        padding: 10px 20px;
      }
    }
  }
}
//End Contact